site_name: note
site_url: https://cybotiger.github.io/note/
site_author: cybotiger

repo_url: https://github.com/cyboTiger/note
repo_name: cyboTiger/note


theme:
  name: material
  features:
    - navigation.tracking  #锚点跟踪
    - navigation.tabs
    - navigation.indexes
    - navigation.top
    - search.suggest
    - search.highlight
    - content.tabs.link
    - content.code.annotate
    - content.code.copy
  language: zh
  font:
    text: LXGW WenKai GB Screen
    code: JetBrains Mono
  palette:
    - scheme: default
      toggle:
        icon: material/weather-night
        name: Switch to dark mode
      primary: indigo
      accent: lime
    - scheme: slate
      toggle:
        icon: material/weather-sunny
        name: Switch to light mode
      primary: black
      accent: lime
  favicon: assets/img/kagula.svg
  logo: assets/img/kagula.svg

markdown_extensions:
  - toc:
      permalink: true
      toc_depth: 4
  - meta
  - attr_list
  - def_list
  - md_in_html
  - sane_lists
  - admonition
  - footnotes
  - pymdownx.caret
  - pymdownx.keys
  - pymdownx.mark
  - pymdownx.tilde
  - pymdownx.critic
  - pymdownx.magiclink
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.details
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.tabbed:
      alternate_style: true 
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.tasklist:  #任务列表
      custom_checkbox: true
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:materialx.emoji.to_svg

nav:
  - Home:
    - index.md
  - 系统与体系结构:
    - arch/index.md
  - 算法与数据结构:
    - algo/index.md
  - 高性能计算:
    - hpc/index.md
  - 网络:
    - network/index.md
  - 语言和编译器:
    - pl/index.md
    - Rust: pl/rust.md
  - 科研:
    - research/index.md
  - 其他:
    - other/index.md


extra_javascript:
  - assets/js/katex.js
  - https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.16.7/katex.min.js
  - https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.16.7/contrib/auto-render.min.js
  # for katex 

extra_css:
  - https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.16.7/katex.min.css
  # for katex